<section class="apc-rda-stats" aria-labelledby="apc-rda-stats-title">
  <div class="apc-rda-stats__inner">
    <div class="apc-rda-stats__header">
      <span class="apc-rda-stats__overline">Historique</span>
      <h2 id="apc-rda-stats-title" class="apc-rda-stats__title">Le Rassemblement en Chiffres</h2>
    </div>

    <div class="apc-rda-stats__grid">
      @for (stat of stats; track stat.label) {
        <div class="apc-rda-stats__card">
          <span class="apc-rda-stats__value">{{ stat.value }}</span>
          <div class="apc-rda-stats__label">{{ stat.label }}</div>
        </div>
      }
    </div>
  </div>
</section>
